<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>News</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="css/custom-style.css">
</head>
<body>
  <!-- choose domains -->
  <div class="container">
    <div class="col-xs-12">
      <h1 class="">Articles</h1>
    </div>

    <% articles.forEach((article, i) => { %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <img src="<%= article.urlToImage %>" alt="Article Img" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">
              <%= article.title %>
            </h5>
            <p class="card-text">
              <%= article.description %>
            </p>
            <a href="<%= article.url %>" class="btn btn-primary">Read Article</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
  
</body>
</html>